[
{worker_pool,[
    {default_strategy,next_worker}
]},
{telegram_bot_captcha,[
    {webhook,#{
        ip => <<"1.1.1.17">>,
        port => 80,
        secret_token => <<"secret">>,
        transport_opts => #{
            ip => {0,0,0,0},
            certfile => <<"/etc/telegram_bot_captcha/ssl/YOURPUBLIC.pem">>,
            keyfile => <<"/etc/telegram_bot_captcha/ssl/YOURPRIVATE.key">>,
            verify => verify_none,
            fail_if_no_peer_cert => false,
            log_level => none
        }
    }},
    {bots,[
        #{
            event => {global, telegram_bot_captcha_event_bot1},
            name => cap_bot1,
            token => <<"1008191:ADgj-JGJGHGJTHJThjk789j6Y">>,
            workers => 1,
            set_webhook => true,
            handlers => [
                         {
                         telegram_bot_captcha_math_handler,
                             #{
                                 %% when a user joins the group, ban after 120 seconds for 60 minutes
                                 room_join => #{
                                             send => ban,
                                              time => 120,
                                              param => 60
                                     },
                                 %% when correct captcha is entered, delete user's answer message
                                 code_ok => #{
                                             send => clear,
                                             time => 120,
                                             param => []
                                      },
                                 %% when incorrect captcha is entered, mute after 1 second for 3 minutes
                                 code_bad => #{
                                             send => mute,
                                             time => 1,
                                             param => 3
                                      }
                             }
                         }
                       %{
                        %telegram_bot_captcha_port_handler,
                        %    #{
                        %        %% this command will be executed via erlang:open_port({spawn, PortCmd})
                        %        port_cmd => "php /etc/telegram_bot_captcha/php_script/captcha.php", % see /example/captcha.php
                        %        %% when a user joins the group, ban after 120 seconds for 60 minutes
                        %        room_join => #{
                        %                    send => ban,
                        %                    time => 120,
                        %                    param => 60
                        %            },
                        %        %% when correct captcha is entered, delete user's answer message
                        %        code_ok => #{
                        %                    send => clear,
                        %                    time => 120,
                        %                    param => []
                        %             },
                        %        %% when incorrect captcha is entered, mute after 1 second for 3 minutes
                        %        code_bad => #{
                        %                    send => mute,
                        %                    time => 1,
                        %                    param => 3
                        %             }
                        %    }
                        %}
                    ]
        }
    %%
        ]}
]}
].
