{minimum_otp_vsn, "27"}.
{erl_opts, [debug_info]}.
{deps, [
    {telegram_bot_api, "2.4.0"}
]}.
{ex_doc, [
    {extras, ["README.md", "LICENSE"]},
    {main, "README.md"},
    {source_url, "https://github.com/krot3232/telegram_bot_captcha"},
    {api_reference, true},
    {prefix_ref_vsn_with_v, false}
]}.
{project_plugins, [
    rebar3_ex_doc,
    rebar3_hex
]}.
{hex, [
    {doc, #{provider => ex_doc}}
]}.